<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBankingV1">

    <test name="InetBankingApp Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <!-- <class name="com.welcomeToTheInternet.TestCases.LoginTest_1"/>
            <class name="com.welcomeToTheInternet.TestCases.LoginTest_2"/>
            <class name="com.welcomeToTheInternet.TestCases.CheckboxTest_3"/>
            <class name="com.welcomeToTheInternet.TestCases.ContextMenuTest_4"/>
            <class name="com.welcomeToTheInternet.TestCases.DragAndDropTest_5"/>
            <class name="com.welcomeToTheInternet.TestCases.DropdownTest_6"/>
            <class name="com.welcomeToTheInternet.TestCases.DynamicContentTest_7"/>
            <class name="com.welcomeToTheInternet.TestCases.DynamicControlTest_8"/>
            <class name="com.welcomeToTheInternet.TestCases.DynamicLoadedElementsPage_9"/>
            <class name="com.welcomeToTheInternet.TestCases.FileDownloadTest_10"/>
            <class name="com.welcomeToTheInternet.TestCases.FileUploadTest_11"/>
            <class name="com.welcomeToTheInternet.TestCases.FloatingMenuTest_12"/>
            <class name="com.welcomeToTheInternet.TestCases.IFramePageTest_13"/> -->
            <class name="com.welcomeToTheInternet.TestCases.HoversPageTest_14"/>

        </classes>
    </test>
</suite>